@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #d84315;
  border-radius: 40px;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #d84315;
  text-decoration: none !important;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.btn.btn-m-red {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-red:hover {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-m-white {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-white:hover {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-m-blue {
  background-color: white;
  color: #212121;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.btn.btn-m-blue:hover {
  background-color: #212121;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.btn.btn-m-gray {
  background-color: #d6d7d8;
  color: #666666;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.btn.btn-m-gray:hover {
  background-color: #d6d7d8;
  color: #666666;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  opacity: 0.8;
}

#top-header,
.l-header__inner {
  width: 100%;
  padding: 0;
}

#top-header {
  top: 0;
  position: fixed;
  margin-top: 0;
  z-index: 9999;
  height: 58px;
}

#top-header.fixed {
  padding-top: 0;
  background: transparent;
}

.mobile__menu {
  background: #fff;
  width: 100%;
  height: 58px;
  z-index: 999;
  position: relative;
}

#top-header.fixed .l-header__logo,
#top-header .l-header__logo {
  width: 230px;
  padding: 10px;
  font-size: 0.7rem;
  line-height: 1.5;
}

.l-header__nav {
  font-size: 0.9em;
  position: absolute;
  top: -500px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#top-header .l-header__nav-item a,
#top-header.fixed .l-header__nav-item a {
  width: 100%;
  display: block;
  color: #fff;
  padding: 18px 0;
}

/* .mobile__toggle 切り替えアニメーション */
.open .mobile__toggle span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open .mobile__toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open .mobile__toggle span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/* .l-header__nav スライドアニメーション */
.open .l-header__nav {
  /* .l-header__nav top + #mobile-head height */
  -webkit-transform: translateY(556px);
  transform: translateY(556px);
  background: #212121;
}

/* Toggle Button */
.mobile__toggle {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}

.mobile__toggle div {
  position: relative;
}

.mobile__toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #212121;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.mobile__toggle span:nth-child(1) {
  top: 0;
}

.mobile__toggle span:nth-child(2) {
  top: 11px;
  width: 80%;
}

.mobile__toggle span:nth-child(3) {
  top: 22px;
}

@media screen and (min-width: 960px) {
  .l-header__inner {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header__inner:after {
    content: "";
    clear: both;
    display: block;
  }
  .mobile__toggle {
    display: none;
  }
  /* header */
  #top-header {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    line-height: 1;
    z-index: 999;
    background: #fff;
    height: 58px;
  }
  .mobile__menu {
    background: none;
    width: 28%;
  }
  .l-header__nav {
    position: static;
    top: 0;
    background: none;
    width: 70%;
    text-align: left;
    padding: 0;
  }
  .l-header__nav-list {
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top-header .l-header__nav-item a,
  #top-header.fixed .l-header__nav-item a {
    padding: 0 1em;
    color: #212121;
  }
  /* Fixed */
  #top-header.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 58px;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
}

.l-searchBox {
  margin: 2em 0 3em;
}

.l-searchBox__title {
  background: #d84315;
  text-align: center;
  padding: 0.7em 0;
  color: #fff;
  position: relative;
  border-radius: 5px;
}

.l-searchBox__title.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.l-searchBox__title::before {
  content: "\f078";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  right: 20px;
  top: 14px;
}

.l-searchBox__title.open::before {
  content: "\f077";
  font-family: FontAwesome;
}

.searchBody {
  border: 1px solid #cecece;
  padding: 1em;
  margin-bottom: 3em;
  display: none;
  background: white;
}

.searchBody__top {
  margin-bottom: 30px;
}

.searchBody__dt {
  margin-bottom: 5px;
  color: #212121;
}

.searchBody__dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212121;
}

.searchBody__input {
  border: 1px solid #cecece;
  border-radius: 2px;
  width: calc(100% - 43px);
  padding: 0.6em 1em;
}

.searchBody__submit {
  width: 43px;
  height: auto;
  background: #d84315;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.searchBody__submit::before {
  content: "\f002";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.searchBody__btn .btn {
  margin-top: 0;
}

.searchBody__dl {
  width: 100%;
  margin-bottom: 1em;
}

.searchBody__select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  position: relative;
  z-index: 50;
  padding: 0.6em 1em;
}

.searchBody .selectWrap {
  position: relative;
  border: 1px solid #cecece;
  border-radius: 2px;
  background: white;
  width: 100%;
}

.searchBody .selectWrap::before {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 18px;
  top: 10px;
  color: #d84315;
}

.form-checkbox__button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #cecece;
  font-size: 0.9rem;
  color: #848484;
  background: #fff;
  line-height: 1;
}

.form-checkbox__list li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}

.form-checkbox__button-input {
  display: none;
}

.form-checkbox__button-input:checked + .form-checkbox__button {
  background-color: #fdeeea;
  border: 1px solid #d84315;
  color: #d84315;
}

.form-page__title {
  background: #d84315;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.form-page__title .main-title {
  margin: 32px 24px 0;
}

.form-page__title .sub-text {
  color: #fff;
}

.complete .content-inner, .complete .l-insta__cont, .complete .l-special, .complete .mod_share, .complete .owner__inner {
  text-align: center;
  height: 100vh;
}

.l-form input[type="text"],
.l-form textarea,
.l-form input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #cecece;
}

.l-form h2 {
  border-left: 4px solid #d84315;
  padding-left: 10px;
}

.l-form .checkbox-list {
  background: #f4f3f2;
  padding: 10px;
  margin-top: 5px;
}

.l-form .form-checkbox {
  background: #f1f1f1;
  padding: 1.5em 1em;
}

.l-form dd,
.l-form .l-form__radio {
  background: #f5f5f5;
}

.l-form__title {
  text-align: left;
  border-left: 5px solid #d84315;
  padding-left: 10px;
}

.l-form .searchBody__select {
  border: 1px solid #cecece;
}

.l-form .selectWrap {
  position: relative;
}

.l-form .selectWrap::before {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 18px;
  top: 10px;
  color: #d84315;
}

.form-require {
  font-size: 13px;
  color: #d84315;
  background: #f4f3f2;
  padding: 1px 5px;
  margin-left: 8px;
  border-radius: 3px;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 5px;
  border: 1px solid #cecece !important;
}

input[type="radio"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 10px;
  border: 1px solid #cecece !important;
}

.sub-text {
  font-size: 0.9rem;
  color: #676767;
  margin: 8px 0 0;
}

.l-form__label {
  margin: 16px 0 5px;
  font-weight: bold;
  display: inline-block;
}

.f-checkbox__list {
  margin: 10px 5px 20px;
}

.l-form__option {
  margin: 2em 1em 1em;
  text-align: center;
}

.l-form__option-link {
  text-decoration: underline;
}

.l-form__option-link-area {
  margin-top: 5px;
}

.l-form__option-text {
  line-height: 1.4;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Others */
  color: #ccc !important;
}

::placeholder {
  /* Others */
  color: #ccc !important;
}

.submit__btn {
  width: 80%;
  margin: 2em auto;
}

.l-form__button-back .btn,
.l-form__button-submit .btn {
  width: 100%;
}

.validate-text {
  background: #fdeeea;
  padding: 0.5em 1em;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #212121;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
}

.br-pc {
  display: none;
}

.br-sp {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.c-red {
  color: #d84315;
}

.bold-text {
  font-weight: 900;
}

h2 {
  font-size: 1.2rem;
  margin: 32px 0 24px;
  font-weight: 800;
}

.main-title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  margin: 32px 0 24px;
}

.symbol {
  font-size: 40px;
  padding-bottom: 10px;
}

.marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #f7d9d0));
  background: linear-gradient(transparent 60%, #f7d9d0 60%);
}

.d-inline {
  display: inline-block;
}

.sub-text {
  color: #666666;
}

.small-text {
  font-size: 0.8rem;
  color: #666666;
  line-height: 1.4;
  display: inline-block;
}

.mb-2 {
  margin-bottom: 2em;
}

.p-1 {
  padding: 1em;
}

.font-sm {
  font-size: 13px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-gray {
  background: #f4f3f2;
}

.btn-wrap {
  width: 80%;
  margin: 0 auto;
}

.cat__niku {
  background: #e64a19;
}

.cat__wasyoku {
  background: #5d4037;
}

.cat__kaigai {
  background: #f57c00;
}

.cat__shopfood {
  background: #0097a7;
}

.cat__nabe {
  background: #fbc02d;
}

.cat__dessert {
  background: #0288d1;
}

.cat__other {
  background: #388e3c;
}

.cat__okinawa {
  background: #dd2c00;
}

/**----------------
 mainここから
----------------**/
.main-container {
  margin-top: 56px;
}

.content-inner, .l-insta__cont, .l-special, .mod_share, .owner__inner {
  padding: 6% 2%;
  width: 96%;
  margin: 0 auto;
}

.l-alert h2 {
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: #212121;
  text-align: center;
}

.l-alert p {
  line-height: 1.8;
  margin-bottom: 2em;
}

.l-shop__item {
  margin: 0 10px 10px 0;
  width: calc(50% - 5px);
}

.l-shop__item:nth-child(2n) {
  margin-right: 0;
}

.l-shop__link {
  background: #fff;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.l-shop__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 65%;
}

.l-shop__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.l-shop__item:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
          transform: translate(-50%, -50%) scale(1.1, 1.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.l-shop__info {
  padding: 0.2em 0.6em 2em;
}

.l-shop__infoCat {
  padding: 1px 8px;
  margin-bottom: 5px;
  font-size: 0.7rem;
  color: #fff;
}

.l-shop__infoTitle {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px;
}

.l-shop__infoArea {
  position: absolute;
  bottom: 1em;
  font-size: 0.7rem;
  color: #666666;
}

.l-shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 50%) {
  .l-shop__list {
    max-width: 50%;
  }
}

@media only screen and (min-width: 100%) {
  .l-shop__list {
    max-width: 100%;
  }
}

@media only screen and (min-width: 150%) {
  .l-shop__list {
    max-width: 150%;
  }
}

@media only screen and (min-width: 200%) {
  .l-shop__list {
    max-width: 200%;
  }
}

@media only screen and (min-width: 250%) {
  .l-shop__list {
    max-width: 250%;
  }
}

@media only screen and (min-width: 300%) {
  .l-shop__list {
    max-width: 300%;
  }
}

@media only screen and (min-width: 350%) {
  .l-shop__list {
    max-width: 350%;
  }
}

@media only screen and (min-width: 400%) {
  .l-shop__list {
    max-width: 400%;
  }
}

@media only screen and (min-width: 450%) {
  .l-shop__list {
    max-width: 450%;
  }
}

@media only screen and (min-width: 500%) {
  .l-shop__list {
    max-width: 500%;
  }
}

.l-insta {
  background-image: url(../images/insta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1104px;
  margin: 0 auto;
  border-radius: 10px;
  width: 90%;
}

.l-insta__title {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.l-insta__inner {
  padding: 60px 0;
  text-align: center;
  color: #fff;
}

.l-insta__read {
  margin-bottom: 10px;
}

.l-insta__read span {
  font-size: 1.2rem;
  font-weight: 700;
}

.l-special__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1em;
  color: #212121;
}

.l-special__photo {
  width: 37%;
  overflow: hidden;
  position: relative;
  padding-bottom: 37%;
  border-radius: 5px;
}

.l-special__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.l-special__text {
  width: 60%;
  line-height: 1.4;
}

.l-special__shop {
  font-weight: 900;
  margin-bottom: 5px;
}

.l-special__read {
  font-size: 13px;
  margin-bottom: 8px;
}

.l-special__const {
  font-size: 11px;
  color: gray;
}

.mod_share {
  margin: 40px auto;
  font-size: 0.7rem;
  line-height: 1.3;
  text-align: center;
  max-width: 800px !important;
}

.mod_share .symbol {
  padding-bottom: 3px;
}

.mod_share__title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
  padding: 0 40px;
}

.mod_share__title:before, .mod_share__title:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: black;
}

.mod_share__title:before {
  left: 0;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.mod_share__title:after {
  right: 0;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.mod_share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mod_share__item {
  width: 24%;
  height: auto;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.mod_share__item .link {
  padding: 1em 0.5em;
  display: block;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mod_share__item .link:hover {
  opacity: 0.5;
}

.mod_share__item.twitter {
  background: #55acee;
}

.mod_share__item.facebook {
  background: #3b5998;
}

.mod_share__item.line {
  background: #1bb91f;
}

.mod_share__item.copy {
  background: #fd8223;
}

.sns-link a {
  display: block;
}

.owner {
  background: #fdeeea;
  padding: 0 0 32px;
}

.owner__title {
  color: #d84315;
  font-size: 1.3rem;
  margin-bottom: 1em;
  text-align: center;
}

.owner__read {
  line-height: 1.8;
  margin-bottom: 1em;
}

.l-mainvisual {
  height: 200px;
  position: relative;
}

.l-mainvisual__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.l-mainvisual__title {
  position: absolute;
  width: 80%;
  max-width: 380px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

footer.l-footer {
  background: #212121;
  padding: 2em 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.mapbtn {
  max-width: 200px;
}

.mapbtn .btn {
  padding: 0.3em;
}

.l-tel-pc {
  display: none;
}

.l-info__cate {
  font-size: 11px;
  margin-bottom: 10px;
}

.l-info__cate-list {
  display: inline-block;
  color: #fff;
  padding: 2px 5px;
  margin-right: 4px;
}

.l-info__name {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.l-info__kodawari {
  margin: 5px 0;
}

.l-info__korona {
  border: 3px dotted #d84315;
  padding: 1em;
}

.l-info__korona h2 {
  margin-top: 20px;
  text-align: center;
}

.l-info__korona-sub {
  margin: 16px 0 8px;
  padding: 2px 0;
  font-weight: bold;
}

.l-info__korona-list li {
  position: relative;
  padding: 2px 0 5px 23px;
}

.l-info__korona-list li:before {
  content: "\f111";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  left: 0;
}

.l-info__message-text {
  background: #fdeeea;
  padding: 1em 1.3em;
  border-radius: 5px;
  position: relative;
  display: block;
}

.l-info__message-text:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 10%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fdeeea;
}

.l-info__h2title {
  text-align: left;
  margin: 32px 0 24px;
}

.l-info__video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1em;
}

.l-info__video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.l-info__table {
  width: 100%;
  border: 1px solid #ececec;
}

.l-info__table th,
.l-info__table td {
  border-bottom: none;
  display: block;
  width: 100%;
  padding: 1.5em;
}

.l-info__table th {
  background: #f4f3f2;
  border: solid 1px white;
  font-weight: bold;
}

.l-info__table tr {
  border-top: 1px solid #ececec;
}

.l-info__table td {
  width: 100%;
}

.l-info__table.unei {
  margin-top: 3em;
}

.s-btn {
  padding: 0.5em 1em;
  margin-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: center;
  background: #eee;
  border-radius: 5px;
  color: #fff;
}

.s-btn.s-fb {
  background: #3b5998;
}

.s-btn.s-twitter {
  background: #55acee;
}

.s-btn.s-insta {
  background: #cf2e92;
}

.s-btn.s-line {
  background: #1bb91f;
}

.l-tel {
  background: #d84315;
  color: #fff;
  text-align: center;
  padding: 0.8em 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.l-tel .btn {
  font-size: 1.3rem;
  color: #212121;
  margin: 0;
  padding: 5px 0;
}

.l-tel__title {
  margin-bottom: 3px;
}

.l-info__slide ul {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  margin: 1em 0;
}

.l-info__slide ul.slick-initialized {
  opacity: 1;
}

.l-info__slid-thum .slick-list {
  margin-bottom: 0.2em;
  line-height: 0;
}

.l-info__slid-thum .slick-list img {
  -o-object-fit: cover;
     object-fit: cover;
}

.l-info .slick-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 259px;
  width: 100%;
}

.l-info__slid-nav .slick-slide {
  padding: 0.2em;
  line-height: 0;
}

.l-info__slid-nav .slick-slide img {
  height: 70px;
}

.l-info__slid-nav .slick-current {
  border: 2px solid #d84315;
  opacity: 0.6;
}

.l-info__slid-nav .sns-link a {
  display: block;
  margin-bottom: 5px;
}

/* slide */
.l-keyvisual {
  text-align: center;
  color: #fff;
  height: 510px;
  position: relative;
}

.l-keyvisual h1 {
  max-width: 650px;
  margin: 0 auto 1em;
  padding: 0 2em;
}

.l-keyvisual__read {
  line-height: 1.5;
  margin-bottom: 10px;
}

.l-keyvisual__text-btnbox {
  width: 80%;
  margin: 0 auto;
}

.l-keyvisual__text {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.l-keyvisual__bg img {
  width: 100%;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.pagetop a {
  display: block;
  background-color: #d84315;
  text-align: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  border-radius: 50%;
}

.pagetop a:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.number-list {
  padding-left: 1em;
}

.number-list li {
  list-style: decimal;
  list-style-position: outside;
  margin-bottom: 10px;
}

.kana-list {
  padding-left: 2em;
  margin-top: 5px;
}

.kana-list li {
  list-style: katakana;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.sp-none {
  display: none;
}

.go-read {
  background: #fdeeea;
  padding: 24px 0;
}

.go-read__text p {
  margin-bottom: 1em;
  text-align: left;
}

.go-feature h2 {
  color: #d84315;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.go-feature img {
  max-height: 80px;
}

.go-read__link .btn {
  border-radius: 5px;
  padding: 15px 0px;
}

.page-anchor__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto 2em;
  color: #d84315;
}

.page-anchor__list {
  width: 48%;
  text-align: center;
}

.page-anchor__list a {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 5px;
  display: block;
}

.users-box {
  margin-bottom: 40px;
}

.users-box h3 {
  font-size: 20px;
  font-weight: 600;
  border-left: 4px solid #d84315;
  padding-left: 10px;
}

.to-users__fuki {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #d84315;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  line-height: 1.3;
  min-height: 105px;
}

.to-users__fuki:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #d84315;
}

.to-users__fuki p {
  margin: 0;
  padding: 0;
}

.to-users__fuki h4 {
  margin-left: 10px;
}

.to-users__fuki img {
  max-height: 40px;
}

.to-users__text-box {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
}

.to-users__read {
  position: relative;
  text-align: center;
  color: #d84315;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 600;
}

.to-users__read::after {
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  background-color: #d84315;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.go-read__link {
  font-size: 20px;
}

.go-read__link span {
  font-size: 16px;
  display: inline-block;
  padding-left: 3px;
}

.go-read__text {
  text-align: center;
}

.to-shop__text {
  margin-bottom: 40px;
}

.to-shop__text p {
  margin-bottom: 1em;
}

.feature-visual__img {
  width: 100%;
  height: auto;
}

.l-footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.l-footer__nav-item {
  padding-left: 10px;
}

.l-footer__nav-item:first-child {
  padding-left: 0;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
  .btn-wrap {
    width: 55%;
    margin: 0 auto;
  }
  .l-keyvisual__text-btnbox {
    width: 50%;
    margin: 0 auto;
  }
  .l-alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #cecece;
    padding: 1em 2em 0;
    margin: 0 auto 2em;
  }
  .l-alert h2 {
    width: 30%;
  }
  .l-alert p {
    width: 67%;
  }
  .l-shop__item {
    margin: 0 16px 16px 0;
    width: calc(33.3333333% - 32px / 3);
  }
  .l-shop__item:nth-child(2n) {
    margin-right: 16px;
  }
  .l-shop__item:nth-child(3n) {
    margin-right: 0;
  }
  .l-shop__info {
    padding: 0.5em 1em 2em;
  }
  .l-special__item {
    width: 23.5%;
  }
  .l-special__link {
    display: block;
    width: 100%;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .l-special__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-special__photo {
    width: 100%;
    padding-bottom: 180px;
  }
  .l-special__text {
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .l-insta {
    width: 86%;
  }
  .l-insta__inner {
    padding: 0;
  }
  .owner {
    background-position: top;
    text-align: center;
  }
  .owner__title {
    font-size: 1.6rem;
  }
  .mod_share__item {
    font-size: 1rem;
  }
  .mod_share__item .symbol {
    padding-bottom: 8px;
  }
  .mod_share__item .link {
    padding: 1.8em 0;
  }
  .l-info__table th {
    width: 24%;
    padding: 0.3em 1em;
    display: table-cell;
    vertical-align: middle;
  }
  .l-info__table tr {
    border-top: 1px solid #ececec;
    padding: 1em;
  }
  .searchBody {
    padding: 2em;
  }
  .searchBody__dl {
    margin-bottom: 1.5em;
  }
  .searchBody__btnTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchBody__btnTop .btn {
    width: 40%;
    margin: 0 1em 0 0;
  }
  .searchBody__btm-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .searchBody__btm-inner .searchBody__dl {
    width: 49%;
  }
  .submit__btnTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-form__button-back,
  .l-form__button-submit {
    width: 49%;
    padding-left: 1%;
    margin: 0 auto;
  }
  .l-info .slick-slide img {
    height: 380px;
  }
  .l-info__slid-nav .slick-slide img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 140px;
    width: 100%;
  }
  .main-title {
    font-size: 1.6rem;
    margin: 40px 0 32px;
  }
  .pc-none {
    display: none;
  }
  .sp-none {
    display: block;
  }
  .go-read__text p {
    text-align: center;
  }
  .go-read__text-btnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .go-read__link {
    width: 48%;
  }
  .to-users__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .to-users__list {
    width: 32%;
  }
  .to-users__fuki {
    display: block;
    text-align: center;
    padding: 24px 0;
  }
  .to-users__fuki img {
    margin-bottom: 10px;
  }
  .to-shop__text p {
    text-align: center;
  }
  #to-users .to-users__text-box {
    min-height: 330px;
  }
  #to-shop .to-users__text-box {
    min-height: 150px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .content-inner, .l-insta__cont, .l-special, .mod_share, .owner__inner {
    width: 90%;
    padding: 2% 2% 7%;
  }
  .l-shop__item {
    margin: 0 16px 16px 0;
    width: calc(25% - 48px / 4);
  }
  .l-shop__item:nth-child(3n) {
    margin-right: 16px;
  }
  .l-shop__item:nth-child(4n) {
    margin-right: 0;
  }
  .l-tel {
    display: none;
  }
  .l-info__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
    position: relative;
  }
  .l-info__cate {
    margin-bottom: 20px;
  }
  .l-info__name {
    font-size: 2rem;
    margin-bottom: 32px;
  }
  .l-info__top, .l-info__slide {
    width: 48%;
    height: auto;
  }
  .l-info__korona-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-info__korona-box {
    width: 48%;
    height: auto;
  }
  .l-info__korona {
    padding: 1.2em 2em 2em;
  }
  .l-info__kodawari {
    margin-bottom: 1em;
  }
  .l-info__korona-sub {
    margin: 1em 0;
  }
  .l-tel-pc {
    display: block;
    background: #f1f1f1;
    padding: 1.3em 0;
    text-align: center;
    position: absolute;
    width: 50%;
    bottom: 20px;
  }
  .l-tel-pc .btn {
    margin-top: 5px;
    padding: 8px;
  }
  .searchBody__btnTop .btn {
    width: 30%;
    margin: 0 1em 0 0;
  }
  .l-info__slide {
    min-height: 330px;
  }
  .l-info .slick-slide img {
    height: 320px;
  }
  .l-info__slid-nav .slick-slide img {
    height: 70px;
  }
  .l-keyvisual__text-btnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    max-width: 560px;
    margin: 0 auto;
  }
  .l-keyvisual__link {
    width: 49%;
    height: auto;
  }
  .l-keyvisual .btn {
    padding: 10px 20px;
  }
  .owner {
    padding: 0;
    margin-top: 0;
  }
  .go-read__text-btnbox {
    width: 50%;
    margin: 0 auto;
  }
  .go-read__text {
    width: 50%;
    margin: 0 auto;
  }
  .page-anchor__box {
    width: 50%;
  }
  .page-anchor__list {
    width: 50%;
    border-right: 1px solid #d84315;
    border-left: 1px solid #d84315;
  }
  .page-anchor__list a {
    background-color: #fff;
    border-radius: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .page-anchor__list:last-child {
    border-left: none;
  }
  .page-anchor__list a:hover {
    background: #f3f3f3;
  }
  .go-read .content-inner, .go-read .l-insta__cont, .go-read .l-special, .go-read .mod_share, .go-read .owner__inner {
    padding-bottom: 2%;
  }
  .go-feature {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .go-feature h2 {
    font-size: 32px;
  }
  .to-shop__text {
    text-align: center;
  }
  #to-users .to-users__text-box {
    min-height: 280px;
  }
  #to-shop .to-users__text-box {
    min-height: 110px;
  }
  .users-box {
    margin: 60px 0;
  }
  .to-users__fuki {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding: 24px;
  }
  .to-users__fuki img {
    margin-bottom: 0;
  }
  .mod_share {
    padding: 5% 0 !important;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .side {
    display: block;
  }
  .swiper-slide {
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  .content-inner, .l-insta__cont, .l-special, .mod_share, .owner__inner {
    max-width: 1160px;
  }
  .btn-wrap {
    width: 40%;
  }
  .l-shop__info {
    padding: 0.7em 1.3em 2em;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */