@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #d84315;
  border-radius: 40px;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #d84315;
  text-decoration: none !important;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.btn.btn-m-red {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-red:hover {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-m-white {
  background-color: white;
  color: #d84315;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-m-white:hover {
  background-color: #d84315;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-m-blue {
  background-color: white;
  color: #022558;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.btn.btn-m-blue:hover {
  background-color: #022558;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.btn.btn-m-gray {
  background-color: #d6d7d8;
  color: #666666;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.btn.btn-m-gray:hover {
  background-color: #d6d7d8;
  color: #666666;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  opacity: 0.8;
}

#top-header,
.l-header__inner {
  width: 100%;
  padding: 0;
}

#top-header {
  top: 0;
  position: fixed;
  margin-top: 0;
  z-index: 9999;
  height: 64px;
}

#top-header.fixed {
  padding-top: 0;
  background: transparent;
}

.mobile__menu {
  background: #fff;
  width: 100%;
  height: 56px;
  z-index: 999;
  position: relative;
}

#top-header.fixed .l-header__logo,
#top-header .l-header__logo {
  width: 230px;
  padding: 10px;
  font-size: 0.7rem;
}

.l-header__nav {
  font-size: 0.9em;
  position: absolute;
  top: -500px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#top-header .l-header__nav-item a,
#top-header.fixed .l-header__nav-item a {
  width: 100%;
  display: block;
  color: #fff;
  padding: 18px 0;
}

/* .mobile__toggle 切り替えアニメーション */
.open .mobile__toggle span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open .mobile__toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open .mobile__toggle span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/* .l-header__nav スライドアニメーション */
.open .l-header__nav {
  /* .l-header__nav top + #mobile-head height */
  -webkit-transform: translateY(556px);
  transform: translateY(556px);
  background: #022558;
}

/* Toggle Button */
.mobile__toggle {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}

.mobile__toggle div {
  position: relative;
}

.mobile__toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #022558;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.mobile__toggle span:nth-child(1) {
  top: 0;
}

.mobile__toggle span:nth-child(2) {
  top: 11px;
  width: 80%;
}

.mobile__toggle span:nth-child(3) {
  top: 22px;
}

@media screen and (min-width: 960px) {
  .l-header__inner {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header__inner:after {
    content: "";
    clear: both;
    display: block;
  }
  .mobile__toggle {
    display: none;
  }
  /* header */
  #top-header {
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    line-height: 1;
    z-index: 999;
    background: #fff;
    height: 56px;
  }
  .mobile__menu {
    background: none;
    width: 28%;
  }
  .l-header__nav {
    position: static;
    top: 0;
    background: none;
    width: 70%;
    text-align: left;
    padding: 0;
  }
  .l-header__nav-list {
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top-header .l-header__nav-item a,
  #top-header.fixed .l-header__nav-item a {
    padding: 0 1em;
    color: #022558;
  }
  /* Fixed */
  #top-header.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 55px;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
  }
}

.l-searchBox {
  margin: 2em 0 3em;
}

.l-searchBox__title {
  background: #d84315;
  text-align: center;
  padding: 0.7em 0;
  color: #fff;
  position: relative;
  border-radius: 5px;
}

.l-searchBox__title.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.l-searchBox__title::before {
  content: "\f078";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  right: 20px;
  top: 14px;
}

.l-searchBox__title.open::before {
  content: "\f077";
  font-family: FontAwesome;
}

.searchBody {
  border: 1px solid #cecece;
  padding: 1em;
  margin-bottom: 3em;
  display: none;
  background: white;
}

.searchBody__top {
  margin-bottom: 30px;
}

.searchBody__dt {
  margin-bottom: 5px;
  color: #3b4043;
}

.searchBody__dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3b4043;
}

.searchBody__input {
  border: 1px solid #cecece;
  border-radius: 2px;
  width: calc(100% - 43px);
  padding: 0.6em 1em;
}

.searchBody__submit {
  width: 43px;
  height: auto;
  background: #d84315;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.searchBody__submit::before {
  content: "\f002";
  font-family: FontAwesome;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.searchBody__btn .btn {
  margin-top: 0;
}

.searchBody__dl {
  width: 100%;
  margin-bottom: 1em;
}

.searchBody__select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  position: relative;
  z-index: 50;
  padding: 0.6em 1em;
}

.searchBody .selectWrap {
  position: relative;
  border: 1px solid #cecece;
  border-radius: 2px;
  background: white;
  width: 100%;
}

.searchBody .selectWrap::before {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 18px;
  top: 10px;
  color: #d84315;
}

.form-checkbox__button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #cecece;
  font-size: 0.9rem;
  color: #848484;
  background: #fff;
  line-height: 1;
}

.form-checkbox__list li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}

.form-checkbox__button-input {
  display: none;
}

.form-checkbox__button-input:checked + .form-checkbox__button {
  background-color: #fdeeea;
  border: 1px solid #d84315;
  color: #d84315;
}

.form-page__title {
  background: #d84315;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.form-page__title .main-title {
  margin: 32px 24px 0;
}

.form-page__title .sub-text {
  color: #fff;
}

.complete .content-inner, .complete .l-insta__cont, .complete .mod_share, .complete .owner__inner {
  text-align: center;
  height: 100vh;
}

.l-form input[type="text"],
.l-form textarea,
.l-form input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #cecece;
}

.l-form h2 {
  border-left: 4px solid #d84315;
  padding-left: 10px;
}

.l-form .checkbox-list {
  background: #f4f3f2;
  padding: 10px;
  margin-top: 5px;
}

.l-form .form-checkbox {
  background: #f1f1f1;
  padding: 1.5em 1em;
}

.l-form dd,
.l-form .l-form__radio {
  background: #f5f5f5;
}

.l-form__title {
  text-align: left;
  border-left: 5px solid #d84315;
  padding-left: 10px;
}

.l-form .searchBody__select {
  border: 1px solid #cecece;
}

.l-form .selectWrap {
  position: relative;
}

.l-form .selectWrap::before {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 18px;
  top: 10px;
  color: #d84315;
}

.form-require {
  font-size: 13px;
  color: #d84315;
  background: #f4f3f2;
  padding: 1px 5px;
  margin-left: 8px;
  border-radius: 3px;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 5px;
  border: 1px solid #cecece !important;
}

input[type="radio"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 10px;
  border: 1px solid #cecece !important;
}

.sub-text {
  font-size: 0.9rem;
  color: #676767;
  margin: 8px 0 0;
}

.l-form__label {
  margin: 16px 0 5px;
  font-weight: bold;
  display: inline-block;
}

.f-checkbox__list {
  margin: 10px 5px 20px;
}

.l-form__option {
  margin: 2em 1em 1em;
  text-align: center;
}

.l-form__option-link {
  text-decoration: underline;
}

.l-form__option-link-area {
  margin-top: 5px;
}

.l-form__option-text {
  line-height: 1.4;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Others */
  color: #ccc !important;
}

::placeholder {
  /* Others */
  color: #ccc !important;
}

.submit__btn {
  width: 80%;
  margin: 2em auto;
}

.l-form__button-back .btn,
.l-form__button-submit .btn {
  width: 100%;
}

.validate-text {
  background: #fdeeea;
  padding: 0.5em 1em;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #3b4043;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
}

.br-pc {
  display: none;
}

.br-sp {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.c-red {
  color: #d84315;
}

.bold-text {
  font-weight: 900;
}

h2 {
  font-size: 1.2rem;
  margin: 32px 0 24px;
  font-weight: 800;
}

.main-title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  margin: 32px 0 24px;
}

.symbol {
  font-size: 40px;
  padding-bottom: 10px;
}

.marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fdeeea));
  background: linear-gradient(transparent 60%, #fdeeea 60%);
}

.d-inline {
  display: inline-block;
}

.sub-text {
  color: #666666;
}

.small-text {
  font-size: 0.8rem;
  color: #666666;
  line-height: 1.4;
  display: inline-block;
}

.mb-2 {
  margin-bottom: 2em;
}

.p-1 {
  padding: 1em;
}

.font-sm {
  font-size: 13px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-gray {
  background: #f4f3f2;
}

.bg-red {
  background: #fdeeea;
}

.btn-wrap {
  width: 80%;
  margin: 0 auto;
}

/**----------------
 mainここから
----------------**/
.main-container {
  margin-top: 56px;
}

.content-inner, .l-insta__cont, .mod_share, .owner__inner {
  padding: 2%;
  width: 96%;
  margin: 0 auto;
}

.l-insta {
  background-image: url(../images/insta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1087px;
  margin: 0 auto;
  border-radius: 10px;
  width: 90%;
}

.l-insta__title {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.l-insta__inner {
  padding: 60px 0;
  text-align: center;
  color: #fff;
}

.l-insta__read {
  margin-bottom: 10px;
}

.l-insta__read span {
  font-size: 1.2rem;
  font-weight: 700;
}

.mod_share {
  margin-top: 4em;
  font-size: 0.7rem;
  line-height: 1.3;
  text-align: center;
  max-width: 800px !important;
  padding: 5% 0 !important;
}

.mod_share .symbol {
  padding-bottom: 3px;
}

.mod_share__title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
  padding: 0 40px;
}

.mod_share__title:before, .mod_share__title:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: black;
}

.mod_share__title:before {
  left: 0;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.mod_share__title:after {
  right: 0;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.mod_share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mod_share__item {
  width: 24%;
  height: auto;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.mod_share__item .link {
  padding: 1em 0.5em;
  display: block;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mod_share__item .link:hover {
  opacity: 0.5;
}

.mod_share__item.twitter {
  background: #55acee;
}

.mod_share__item.facebook {
  background: #3b5998;
}

.mod_share__item.line {
  background: #1bb91f;
}

.mod_share__item.copy {
  background: #fd8223;
}

.owner {
  background-image: url(../images/owner-bg.jpg);
  background-repeat: no-repeat;
  background-position: -130px;
  background-size: cover;
  padding: 32px 0 64px;
}

.owner__title {
  color: #d84315;
  font-size: 1.8rem;
  margin-bottom: 1em;
  text-align: center;
}

.owner__read {
  line-height: 1.8;
  margin-bottom: 1em;
}

.l-mainvisual {
  position: relative;
}

.l-mainvisual__img img {
  width: 100%;
  height: auto;
}

.l-mainvisual__title {
  position: absolute;
  width: 80%;
  max-width: 380px;
  top: 60%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

footer.l-footer {
  background: #000;
  padding: 2em 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.pagetop a {
  display: block;
  background-color: #d84315;
  text-align: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  border-radius: 50%;
}

.pagetop a:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.sp-none {
  display: none;
}

.go-read {
  background: #fdeeea;
  padding: 24px 0;
}

.go-read p {
  margin-bottom: 1em;
  text-align: left;
}

.go-feature h2 {
  color: #d84315;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.go-feature img {
  max-height: 80px;
}

.go-read__link .btn {
  border-radius: 5px;
  padding: 15px 0px;
}

.page-anchor__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto 2em;
  color: #d84315;
}

.page-anchor__list {
  width: 48%;
  text-align: center;
}

.page-anchor__list a {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 5px;
  display: block;
}

.users-box {
  margin-bottom: 40px;
}

.users-box h3 {
  font-size: 20px;
  font-weight: 600;
  border-left: 4px solid #d84315;
  padding-left: 10px;
}

.to-users__fuki {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #d84315;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  line-height: 1.3;
  min-height: 105px;
}

.to-users__fuki:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #d84315;
}

.to-users__fuki p {
  margin: 0;
  padding: 0;
}

.to-users__fuki h4 {
  margin-left: 10px;
}

.to-users__fuki img {
  max-height: 40px;
}

.to-users__text-box {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
}

.to-users__read {
  position: relative;
  text-align: center;
  color: #d84315;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 600;
}

.to-users__read::after {
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  background-color: #d84315;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.go-read__link {
  font-size: 20px;
}

.go-read__link span {
  font-size: 16px;
  display: inline-block;
  padding-left: 3px;
}

.go-read__text {
  text-align: center;
}

.to-shop__text {
  margin-bottom: 40px;
}

.to-shop__text p {
  margin-bottom: 1em;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
  .btn-wrap {
    width: 55%;
    margin: 0 auto;
  }
  .l-insta__inner {
    padding: 0;
  }
  .owner {
    background-position: top;
    text-align: center;
  }
  .mod_share__item {
    font-size: 1rem;
  }
  .mod_share__item .symbol {
    padding-bottom: 8px;
  }
  .mod_share__item .link {
    padding: 1.8em 0;
  }
  .main-title {
    font-size: 1.8rem;
    margin: 40px 0 32px;
  }
  .pc-none {
    display: none;
  }
  .sp-none {
    display: block;
  }
  .go-read__text p {
    text-align: center;
  }
  .go-read__text-btnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .go-read__link {
    width: 48%;
  }
  .to-users__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .to-users__list {
    width: 32%;
  }
  .to-users__fuki {
    display: block;
    text-align: center;
    padding: 24px 0;
  }
  .to-users__fuki img {
    margin-bottom: 10px;
  }
  .to-shop__text p {
    text-align: center;
  }
  #to-users .to-users__text-box {
    min-height: 330px;
  }
  #to-shop .to-users__text-box {
    min-height: 150px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .content-inner, .l-insta__cont, .mod_share, .owner__inner {
    width: 90%;
    padding: 2% 2% 7%;
  }
  .go-read__text-btnbox {
    width: 50%;
    margin: 0 auto;
  }
  .go-read__text {
    width: 50%;
    margin: 0 auto;
  }
  .page-anchor__box {
    width: 50%;
  }
  .page-anchor__list {
    width: 50%;
    border-right: 1px solid #d84315;
    border-left: 1px solid #d84315;
  }
  .page-anchor__list a {
    background-color: #fff;
    border-radius: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .page-anchor__list:last-child {
    border-left: none;
  }
  .page-anchor__list a:hover {
    background: #f3f3f3;
  }
  .go-read .content-inner, .go-read .l-insta__cont, .go-read .mod_share, .go-read .owner__inner {
    padding-bottom: 2%;
  }
  .go-feature {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .go-feature h2 {
    font-size: 32px;
  }
  .to-shop__text {
    text-align: center;
  }
  #to-users .to-users__text-box {
    min-height: 280px;
  }
  #to-shop .to-users__text-box {
    min-height: 110px;
  }
  .users-box {
    margin: 60px 0;
  }
  .to-users__fuki {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding: 24px;
  }
  .to-users__fuki img {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .side {
    display: block;
  }
  .swiper-slide {
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  .content-inner, .l-insta__cont, .mod_share, .owner__inner {
    max-width: 1160px;
  }
  .btn-wrap {
    width: 40%;
  }
  .l-shop__info {
    padding: 0.7em 1.3em 2em;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */